#! rockbox/tagbrowser/2.0

# Please note that modifying any menu labels/titles may result in them
# not being translated or voiced.

#listing of albums without "the"
#listing of artist without "the"

# Basic format declarations
%format "fmt_title"       "%s - %02d:%02d (%s)" basename Lm Ls filename ? title == "[Untagged]"
%format "fmt_title"       "%d.%02d. %s - %02d:%02d" discnum tracknum title Lm Ls ? discnum > "0"
%format "fmt_title"       "%02d. %s - %02d:%02d" tracknum title Lm Ls ? tracknum > "0"
%format "fmt_title"       "%s - %02d:%02d" title Lm Ls
%format "fmt_alphanum_title" "%s - %02d:%02d" title Lm Ls

%menu_start "albumartistsort" "filter the album"
"all albums starting w the" -> album ^ The -> title = "fmt_title"
"" -> album !~ The -> title = "fmt_title"


# Define the title of the main menu
%menu_start "main" "Database"
"Album Artist" ==> "albumartistsort"
"Album Artist" -> albumartist   -> album  -> title = "fmt_title"
"Album"    -> album    -> title = "fmt_title"
"Artist"   -> canonicalartist   -> album  -> title = "fmt_title"
"Genre"  ==> "sub_genre_menu"
"Shuffle Songs" ~> title = "fmt_title"
#"Custom menu"  ==> "custom"

# And finally set main menu as our root menu
%root_menu "main"
