#! rockbox/tagbrowser/2.0

# Please note that modifying any menu labels/titles may result in them
# not being translated or voiced.

#listing of albums without "the"
#listing of artist without "the"

# Basic format declarations
%format "fmt_title"       "%s" title

#line for only albums and can random play one
#filter for album never played
#filter for artist never played

%menu_start "albumartistsort" "filter the album"
#"all albums starting w the" -> album ? album ^ The  -> title = "fmt_title"
#"all albums starting w the2" -> album ? album ^ The -> album -> title = "fmt_title"
#"albums excluding The" -> album ? album !~ The -> title = "fmt_title"
"artistalbum sort" -> artistalbumsort -> title = "fmt_title"
"artistsort" -> artistsort -> title = "fmt_title"

# Define the title of the main menu
%menu_start "main" "Database"
"Album Artist sort" ==> "albumartistsort"
"Album Artist" -> albumartist   -> album  -> title = "fmt_title"
"Artist"   -> canonicalartist   -> album  -> title = "fmt_title"
"Shuffle Songs" ~> title = "fmt_title"


# And finally set main menu as our root menu
%root_menu "main"
