#! rockbox/tagbrowser/2.0

#line for only albums and can random play one
#filter for album never played
#filter for artist never played

# Basic format declarations
%format "f_browse" "%02d - %s" tracknum title
%format "f_direct" "%s (%s)" title artist
%format "f_chrono" "%04d - %s (%s)" year title artist
%format "f_runtime" "%2d|%3d %s (%s)" playcount autoscore title artist %sort = "inverse" %limit = "100"
%format "f_lastplayed"  "%06d%s (%s)" lastplayed title artist %sort = "inverse" %limit = "100" %strip = "6"
%format "f_forgotten"  "%06d%s (%s)" lastplayed title artist %limit = "100" %strip = "6"
%format "f_mood" "%s (%s)" title album
%format "f_notes" "%02d:%02d [%s]" Lm Ls filename
%format "f_pod" "%08d%s (%s)" length filename title %strip = "15"
%format "f_pod" "%06d%s (%s)" lastplayed filename title %sort = "inverse" %strip = "15"
%format "f_audiobooks "%06d%s (%s)" lastplayed filename title %sort = "inverse" %strip = "15"


%menu_start "custom_runtime" "runtime database"
"Most played (Plays|Score)" -> title = "f_runtime" ? playcount > "0"
"Recently played tracks" -> title = "f_lastplayed" ? playcount > "0"
"Favourite albums" -> album ? playcount > "3" & autoscore > "85" -> title = "f_browse"
"Recent favourites" -> title = "f_lastplayed" ? playcount > "3" & autoscore > "85"
"Forgotten favourites" -> title = "f_forgotten" ? playcount > "3" & autoscore > "85"
"Never played tracks" -> artist ? playcount == "0" -> album -> title = "f_browse"

# Define the title of the main menu
%menu_start "main" "library"
"Album Artist" -> grouping -> comment -> title = "f_browse"
"All Albums" -> comment -> title = "f_browse"
"Artist"   -> canonicalartist   -> comment -> title = "f_browse"
"Shuffle Songs" ~> title = "f_direct"
"Tracks by runtime" ==> "custom_runtime"
"New Podcasts" -> title = "f_pod" ? filename ~ "/audio/podcasts" & playcount == "0"
"Old Podcasts" -> title = "f_pod_old" ? filename ~ "/audio/podcasts" & playcount != "0"

# And finally set main menu as our root menu
%root_menu "main"
