#! rockbox/tagbrowser/2.0

#line for only albums and can random play one
#filter for album never played


# Basic format declarations
%format "f_browse" "%02d - %s" tracknum title
%format "f_direct" "%s (%s)" title artist
%format "f_chrono" "%04d - %s (%s)" year title artist
%format "f_runtime" "%2d|%3d %s (%s)" playcount autoscore title artist %sort = "inverse" %limit = "100"
%format "f_lastplayed"  "%06d%s (%s)" lastplayed title artist %sort = "inverse" %limit = "100" %strip = "6"
%format "f_forgotten"  "%06d%s (%s)" lastplayed title artist %limit = "100" %strip = "6"
%format "f_mood" "%s (%s)" title album
%format "f_notes" "%02d:%02d [%s]" Lm Ls filename
%format "f_pod" "%08d%s (%s)" length filename title %strip = "15"
%format "f_pod" "%06d%s (%s)" lastplayed filename title %sort = "inverse" %strip = "15"
%format "f_audiobooks "%06d%s (%s)" lastplayed filename title %sort = "inverse" %strip = "15"
%format "f_test" "%d %d:%d (%s)" length Lm Ls filename
%format "f_est" "%0d %0d:%0d (%s)" length Lm Ls filename
%format "f_st" "%04d %04d:%04d (%s)" length Lm Ls filename


%menu_start "ground" "playground
"%d %d:%d (%s)" -> grouping -> comment -> title = "f_test"
"%0d %0d:%0d (%s)" -> grouping -> comment -> title = "f_est"
"%04d %04d:%04d (%s)" -> grouping -> comment -> title = "f_st"

%menu_start "custom_runtime" "runtime database"
"most played (plays|score)" -> title = "f_runtime" ? playcount > "0"
"recently played tracks" -> title = "f_lastplayed" ? playcount > "0"
"favourite albums" -> album ? playcount > "3" & autoscore > "85" -> title = "f_browse"
"recent favourites" -> title = "f_lastplayed" ? playcount > "3" & autoscore > "85"
"forgotten favourites" -> title = "f_forgotten" ? playcount > "3" & autoscore > "85"
"never played" -> artist ? playcount == "0" -> album -> title = "f_browse"

# Define the title of the main menu
%menu_start "main" "library"
"album artist" -> grouping -> comment -> title = "f_browse"
"all albums" -> comment -> title = "f_browse"
"artist"   -> canonicalartist   -> comment -> title = "f_browse"
"never played albums" -> album ? playcount == "0" -> album -> title = "f_browse"
"shuffle songs" ~> title = "f_direct"
"tracks by runtime" ==> "custom_runtime"
"new podcasts" -> title = "f_pod" ? filename ~ "/audio/podcasts/" & playcount == "0"
"old podcasts" -> title = "f_pod" ? filename ~ "/audio/podcasts/" & playcount != "0"
"never played" -> artist ? playcount == "0" -> album -> title = "f_browse"
"playground" ==> "ground"

# And finally set main menu as our root menu
%root_menu "main"
